html, body {
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal overflow */
}
ul,li{
    display:inline-block;
    margin-left:4.5rem;
    font-size: large;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
nav{
    background-color:white;
    color:0f346c;
    max-height: 70px;
    position: relative;
    z-index: 1000;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    position:absolute;
}
li:hover {
    border-bottom: 2px;
    animation-name: line-grow;
    animation-duration: 3s;
}


@keyframes line-grow {
    0% {
        border-bottom: 0.5px solid #0f346c;
    }
    100% {
        background-size: 1.5px solid #0f346c;
    }
}
#na:hover{
    text-decoration-line: none;
    animation: none;
}
#na
{
    margin-left: 0px;
    left:0;
}